@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Russo+One&family=Exo+2:wght@500&display=swap");

@import "tailwindcss";

@theme {
  --color-body: #f2f2f2; /* body */
  --color-body-second: #f0f4f8; /* blue-gray other body choice in case */
  --color-primary: #1b2a49; /* midnight text & button primary */
  --color-primary-hover: #2c3e66;
  --color-hover: #4a6cf7;
  --color-hover-two: #bf5b04;
  --color-hover-three: #c0392b;
  --color-royal: #3a5fcd;
  --color-royal-hover: #263fa1;
  --color-validate: #4caf50;
  --color-validate-hover: #3a853c;
  --color-delete: #d42511;
  --color-delete-hover: #b61f0f;
  --font-title: "Russo One", sans-serif;
  --font-subtitle: "Exo 2", sans-serif;
  --font-body: "Raleway", sans-serif;
}

.dark {
  --color-body: #121826;
  --color-primary: #f2f2f2; /* text & button primary */
  --color-primary-hover: #e4c6c6;
}
