@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Russo+One&family=Exo+2:wght@500&display=swap");

@import "tailwindcss";

@theme {
  --color-body: #f2f2f2; /* body */
  --color-body-second: #f0f4f8; /* blue-gray other body choice in case */
  --color-primary: #1b2a49; /* midnight text & button primary */
  --color-primary-hover: #2c3e66;
  --color-hover: #4a6cf7;
  --color-hover-two: #bf5b04;
  --color-hover-three: #c0392b;
  --color-royal: #3a5fcd;
  --color-royal-hover: #263fa1;
  --color-validate: #4caf50;
  --color-validate-hover: #3a853c;
  --color-delete: #d42511;
  --color-delete-hover: #b61f0f;
  --color-sideMenu: #ffffff;
  --font-title: "Russo One", sans-serif;
  --font-subtitle: "Exo 2", sans-serif;
  --font-body: "Raleway", sans-serif;
  --breakpoint-xxs: 28.125rem; /* 450 px */
}

.dark {
  --color-body: #121826;
  --color-primary: #f2f2f2; /* text & button primary */
  --color-primary-hover: #e4c6c6;
  --color-sideMenu: #1a202c;
  /* --color-sideMenu: #1f2937; */
  /* --color-sideMenu: #0f172a; */
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
